 /* google font use */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.font-use {
  font-family: "Work Sans", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
/* shear style code*/
.flex{
    display: flex;
}
.color{
    color: #727272;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-gorup{
    background-color: #FF900E;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 800;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    margin-top: 20px;
}
p{
    color: #727272;
    font-size: 1.02rem;
}
/* navber style code*/
.navber{
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.list{
    list-style: none;
    margin-right: 30px;
}
.link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
}
.logo-name h2{
    font-weight: 700;
    font-size: 3rem;
}
/* navbar style ses */
.banar-ariya, .navber,{
    max-width: 1440px;
    margin: 0 auto;
}
.banar-container{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banar-titile{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 50px;
}
.banar-img img{
    width: 100%;
}
/* tems work and features section  */
/* facts and team-work section width  */
.team-work, .some-facts, .features-love, .Sponsors{
    max-width: 1440px;
    margin: 120px auto;
    align-items: center;
}
.team-imges{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.team-feature,{
    /* text-align: center; */
    width: 550px;
    margin-left: 130px;
}
/* team-title and facts-title code  */
.team-title, .facts-title, .Sponsors-title, .love-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 50px;
}
.quick-style{
    color: #727272;
    font-weight: 500;
}
.features-style{
    color: #FF900E;
    font-weight: 500;
}
/* features-love secttion style code  */
.features-love{
    gap: 140px;
}
.love-box{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 40px;
    border-radius: 8px;
}
.box-title{
    font-size: 1.2rem;
    font-weight: 600;
}
.love-text{
    margin-bottom: 30px;
}
.expectional-btn{
    padding: 45px 42px;
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: -80px;
    margin-top: -120px;
}
.years{
    font-size: 4rem;
    font-weight: 700;
}
/* facts section style  */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
}
.facts-card{
    border: 1px solid #FF900E;
    width: 180px;
    height: 180px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* justify-content: center; */
}
.facts-card h4{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
..facts-card h5{
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 10px;
}
/* Our Sponsors section style code  */
.Sponsors-container{
    max-width: 540px;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Sponsors-img{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin-top: 50px;
}
.Sponsors-img img{
    filter: grayscale(100%);
}

/* responsive style  */
@media screen and (max-width: 576px) {
    .flex {
        flex-direction: column;
        /* display: block; */
    }
    .banar-ariya, .navber{
    max-width: 100%;
    margin: 0 auto;
    }
     /* work and features section responsive  */
    .team-imges, .facts-container, .Sponsors-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .team-feature{
        margin-top: 50px;
    }
    .team-title{
        margin-bottom: 0.8rem;
    }
    /* features-love secton responsive  */
    .expectional-btn{
        margin-left: 120px;
        margin-top: 100px;
        /* margin: a auto; */
    }
    .years{
        font-size: 2rem;
        font-weight: 500;
    }
    /* facts section responsive code  */
    .facts-container{
        justify-items: center;
    }
    .facts-card{
        margin-bottom: 20px;
    }
    /* Sponsors-img section respnsive code  */
    .Sponsors-img{
        justify-items: center;
        /* align-self: center; */
        /* margin: 0 auto; */
    }
}
