 /* google font use */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.font-use {
  font-family: "Work Sans", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
/* shear style code*/
.flex{
    display: flex;
}
.color{
    color: #727272;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-gorup{
    background-color: #FF900E;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 800;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    margin-top: 20px;
}
p{
    color: #727272;
    font-size: 1.02rem;
}
/* navber style code*/
.navber{
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.list{
    list-style: none;
    margin-right: 30px;
}
.link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
}
.logo-name h2{
    font-weight: 700;
    font-size: 3rem;
}
/* navbar style ses */
.banar-ariya, .navber{
    max-width: 1440px;
    margin: 0 auto;
}
.banar-container{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banar-titile{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 50px;
}
.banar-img img{
    width: 100%;
}
/* tems work and features section  */
.team-work{
    max-width: 1440px;
    margin: 120px auto;
    align-items: center;
}
.team-imges{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.team-feature{
    /* text-align: center; */
    width: 550px;
    margin-left: 130px;
}
.team-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 50px;
}
.quick-style{
    color: #727272;
    font-weight: 500;
}
.features-style{
    color: #FF900E;
    font-weight: 500;
}

/* responsive style  */
@media screen and (max-width: 576px) {
    .flex {
        flex-direction: column;
        /* display: block; */
    }
    .banar-ariya, .navber{
    max-width: 100%;
    margin: 0 auto;
    }
     /* work and features section responsive  */
    .team-imges{
        grid-template-columns: repeat(1, 1fr);
    }
    .team-feature{
        margin-top: 50px;
    }
    .team-title{
        margin-bottom: 0.8rem;
    }
}
